@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="https://static.vecteezy.com/system/resources/previews/009/392/539/non_2x/a-stack-of-books-and-an-open-book-vector.jpg" height="650" width="650" alt="Alternative image" class="img-thumbnail">
</div>