@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnlineShopSystem.Core.Contracts
@using OnlineShopSystem.Infrastructure.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@inject IUserService UserService

@{
    string userFullName = await this.UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark"  asp-page="/Account/Manage/Index" title="Manage">Hello, @userFullName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>

